<!DOCTYPE html>
<html>
  <head>
    <title>Day 1 Project</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="card">
      <div class="log">
        <img
          src="https://cdn.prod.website-files.com/66b3765153a8a0c399c70981/66bb1f44d832debb33fe65c3_Logo.svg"
          alt=""
        />
      </div>

      <div class="days"><p>30 Days of AI Voice Agents</p></div>

      <div class="btn">DAY 1 of 30</div>
      <div class="challenge">
        Challenge 1 Complete 🎉 — Page successfully served using Flask! 🚀
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
