@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #f4584e, #b921c1);
}

input,
select,
button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

audio {
  margin-top: 20px;
  cursor: pointer;
}
option {
  cursor: pointer;
}

.card {
  cursor: pointer;
  width: 650px;
  background: rgba(0, 0, 0, 0.466);
  border: 3px solid rgba(255, 255, 255, 0.91);
  color: white;
  border-radius: 20px;
  height: fit-content;
  padding: 20px;
  flex-direction: column;
  /* margin-right: 20px; */
}

.card h2 {
  background: linear-gradient(to left, #efeded, #ff3cc4);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background: red; */
  margin-bottom: 20px;
}
label {
  width: 20%;
  font-size: 20px;
}

.card h2 i {
  font-size: 40px;
}

textarea {
  width: 100%;
  outline: none;
  padding: 15px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.466);
  border: 3px solid rgba(255, 255, 255, 0.91);
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: white; */
  padding-right: 10px;
}
select {
  padding: 10px;
  background: linear-gradient(to left, #f4584e, #b921c1);
  color: white;
  outline: none;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  appearance: none;
  position: relative;
  font-size: 20px;
  border: 3px solid rgb(255, 255, 255);
}
option {
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px;
}
.hello {
  width: 100%;
  position: relative;
}
.hello img {
  position: absolute;
  top: 33px;
  right: 15px;
  width: 20px;
}
button {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 17px 0 20px 0;
  background: linear-gradient(to right, #f4584e, #b921c1);
  border: 3px solid white;
  color: white;
}

.audio-wrapper {
  background: linear-gradient(to right, #f4584e, #b921c1);
  padding: 10px;
  border-radius: 12px;
  display: inline-block;
}

audio {
  width: 100%;
  border-radius: 8px;
}
.cardflow {
  display: flex;
  gap: 30px;
}
.card1 {
  cursor: pointer;
  width: 650px;
  background: rgba(0, 0, 0, 0.466);
  border: 3px solid rgba(255, 255, 255, 0.91);
  color: white;
  border-radius: 20px;
  height: fit-content;
  padding: 20px;
  flex-direction: column;
}
.card1 h1 {
  text-align: center;
  margin-bottom: 50px;
}
.row1 {
  display: flex;
}
#startRecording {
  background: linear-gradient(to right, rgb(71, 215, 143), rgb(109, 220, 61));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#stopRecording {
  background: linear-gradient(to right, rgb(226, 67, 99), rgb(255, 98, 98));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#downloadAudio {
  background: linear-gradient(to right, rgb(226, 67, 99), rgb(107, 124, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#resetAudio {
  background: linear-gradient(to right, rgb(243, 255, 8), rgb(107, 124, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.row2 {
  display: flex;
}
.status {
  /* background: rgb(68, 70, 68);
  border: 1px dotted white;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px; */
  border: 2px dashed white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  background: #32dc2cb2;
  font-size: 25px;
}
#transcriptContainer {
  background: red;
}
